body {
    width: 1920px;
    height: 10931px;
    background: rgb(154, 212, 245);
    position: relative;
    overflow-x: hidden;
    }

  body {
    margin: 0 auto;
  }

  .block_one {
    width: 1440px;
    height: 780px;
    display: flex;
    background-color: rgb(240, 57, 113);

}